<?xml version="1.0" encoding="utf-8"?>
<BranchConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Branchs>
    <Branch>
      <Id>1</Id>
      <Name>TEST</Name>
      <DbLocation></DbLocation>
      <MongoLocation></MongoLocation>
      <ExceptionAlertEmail></ExceptionAlertEmail>
      <IgnoreRules>SPEC:C00024</IgnoreRules>
      <SubSystems>TEST</SubSystems>
    </Branch>
  </Branchs>
</BranchConfig>