# Windows image file caches
Thumbs.db
ehthumbs.db
ErrorLog.txt
Desktop.ini
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# -------- my settings ------
obj
TestResults
Log111
bin
DailySummary
ScanData

*.exe
*.pdb
*.suo
*.user
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
.vs/