<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
			<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor , Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor , Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="authentication-key" value="2bb9c8ce-cb8d-460c-83eb-d110e8ab3aff" />
    <add key="adminKey" value="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"/>
	</appSettings>
	
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" maxRequestLength="40960" />

      
      <authentication mode="Forms">
        <forms cookieless="UseCookies" name="spec-user"></forms>
      </authentication>
    </system.web>

	<system.web.webPages.razor>
		<pages pageBaseType="System.Web.WebPages.WebPage">
			<namespaces>
				<add namespace="System.Linq" />
				<add namespace="ClownFish.Base" />
				<add namespace="ClownFish.Web" />
				<add namespace="SpecChecker.CoreLibrary" />
				<add namespace="SpecChecker.CoreLibrary.Common" />
				<add namespace="SpecChecker.CoreLibrary.Models" />
				<add namespace="SpecChecker.WebLib.Common" />
				<add namespace="SpecChecker.WebLib.ViewModel" />        
			</namespaces>
		</pages>
	</system.web.webPages.razor>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="BlockViewHandler" />
			<add name="BlockViewHandler" path="*.cshtml" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />

			<add name="AjaxHandlerFactory" verb="*" path="/ajax/*" type="ClownFish.Web.ServiceHandlerFactory, ClownFish.Web" preCondition="integratedMode" />
			<add name="MvcPageHandlerFactory" verb="*" path="*.phtml" type="ClownFish.Web.MvcPageHandlerFactory, ClownFish.Web" preCondition="integratedMode" />

			<add name="CSS-StaticFileHandler" verb="*" path="*.css" type="ClownFish.Web.StaticFileHandler, ClownFish.Web" preCondition="integratedMode" />
			<add name="JS-StaticFileHandler" verb="*" path="*.js" type="ClownFish.Web.StaticFileHandler, ClownFish.Web" preCondition="integratedMode" />
			<add name="PNG-StaticFileHandler" verb="*" path="*.png" type="ClownFish.Web.StaticFileHandler, ClownFish.Web" preCondition="integratedMode" />
			<add name="GIF-StaticFileHandler" verb="*" path="*.gif" type="ClownFish.Web.StaticFileHandler, ClownFish.Web" preCondition="integratedMode" />
			<add name="JPG-StaticFileHandler" verb="*" path="*.jpg" type="ClownFish.Web.StaticFileHandler, ClownFish.Web" preCondition="integratedMode" />
		</handlers>
		<modules>
			<remove name="Session" />
			<remove name="RoleManager" />
			<remove name="FileAuthorization" />
			<remove name="Profile" />
			<remove name="AnonymousIdentification" />
			
			<add name="GzipModule" type="ClownFish.Web.GzipModule, ClownFish.Web" preCondition="integratedMode" />
      <add name="ExceptionLogModule" type="SpecChecker.WebLib.ExceptionLogModule, SpecChecker.WebLib" preCondition="integratedMode"/>
		</modules>
		<httpErrors errorMode="Detailed" />
        <urlCompression doDynamicCompression="true" />
	</system.webServer>
  <system.net>
    <mailSettings>
      <smtp>
        <!--请在部署时修改此处帐号-->
        <network host="smtp.exmail.qq.com" port="587" userName="ptgx@mysoft.com.cn" password ="xxxxxxxxxxxxx"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
