<?xml version="1.0" encoding="utf-8"?>
<LogConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Enable>true</Enable>
    <TimerPeriod>100</TimerPeriod>
    <Writers>
      <Writer Name="File" Type="ClownFish.Log.Serializer.FileWriter, ClownFish.Log">
        <Option Key="RootDirectory" Value="Log111" />
      </Writer>
    </Writers>
    <Types>
		<Type DataType="ClownFish.Log.Model.ExceptionInfo, ClownFish.Log" Writers="File" />
		<Type DataType="SpecChecker.CoreLibrary.Common.ExecuteResult, SpecChecker.CoreLibrary" Writers="File" />
    </Types>
</LogConfig>