<?xml version="1.0" encoding="utf-8"?>
<ArrayOfRule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Rule>
        <RuleCode>SPEC:C00001</RuleCode>
        <RuleName>禁止使用 HttpContext.Current</RuleName>
        <Regex>HttpContext.Current</Regex>
        <FileExt>
            <string>.cs</string>
        </FileExt>
    </Rule>
    <Rule>
        <RuleCode>SPEC:C00002</RuleCode>
        <RuleName>判断字符串是否为空，必须使用string.IsNullOrEmpty这个静态方法</RuleName>
        <Regex>==\s*\"\"</Regex>
        <FileExt>
            <string>.cs</string>
        </FileExt>
    </Rule>
    <!--<Rule>
        <RuleCode>SPEC:C00003</RuleCode>
        <RuleName>不允许使用数字索引器来访问数组或者列表，必须使用名称的索引器</RuleName>
        <Regex>\w+\[[1-9]\]</Regex>
        <FileExt>
            <string>.cs</string>
        </FileExt>
    </Rule>-->
    <Rule>
        <RuleCode>SPEC:C00004</RuleCode>
        <RuleName>尽量使用有序GUID,避免直接使用newid()</RuleName>
        <Regex>Guid.NewGuid\(\)</Regex>
        <FileExt>
            <string>.cs</string>
        </FileExt>
    </Rule>
    <Rule>
        <RuleCode>SPEC:C00005</RuleCode>
        <RuleName>产品代码禁止设计成静态成员，除非工具方法</RuleName>
        <Regex>\s+static\s+\w+\s+\w+\(</Regex>
        <FileExt>
            <string>.cs</string>
        </FileExt>
      <NonIncludeFiles>
        <string>Initializer.cs</string>
        <string>Helper.cs</string>
        <string>Extensions.cs</string>
        <string>Factory.cs</string>
        <string>Manager.cs</string>
      </NonIncludeFiles>
    </Rule>
    <Rule>
        <RuleCode>SPEC:C00006</RuleCode>
        <RuleName>前端禁止使用XML，建议使用JSON</RuleName>
        <Regex>&lt;xml&gt;</Regex>
        <FileExt>
            <string>.js</string>
            <string>.aspx</string>
        </FileExt>
        <NonIncludeFolders>
            <string>_frontend</string>
            <string>_modeling</string>
        </NonIncludeFolders>
    </Rule>
    <Rule>
        <RuleCode>SPEC:C00007</RuleCode>
        <RuleName>AJAX必须以异步方式调用，禁止设置 async: false</RuleName>
        <Regex>async\s*:\s*false</Regex>
        <FileExt>
            <string>.js</string>
            <string>.aspx</string>
        </FileExt>
        <NonIncludeFolders>
            <string>_frontend</string>
            <string>_modeling</string>
        </NonIncludeFolders>
    </Rule>
    <!--<Rule>
        <RuleCode>SPEC:C00008</RuleCode>
        <RuleName>禁止使用使用setTimeout，setInterval</RuleName>
        <Regex>setTimeout\(|setInterval\(</Regex>
        <FileExt>
            <string>.js</string>
            <string>.aspx</string>
        </FileExt>
        <NonIncludeFolders>
            <string>_frontend</string>
            <string>_modeling</string>
        </NonIncludeFolders>
    </Rule>-->
    <Rule>
        <RuleCode>SPEC:C00009</RuleCode>
        <RuleName>禁止使用escape、encodeURL、encodeURLComponent拼接URL</RuleName>
        <Regex>escape\(|encodeURL\(|encodeURIComponent\(</Regex>
        <FileExt>
            <string>.js</string>
            <string>.aspx</string>
        </FileExt>
        <NonIncludeFolders>
            <string>_frontend</string>
            <string>_modeling</string>
        </NonIncludeFolders>
    </Rule>
    <Rule>
        <RuleCode>SPEC:C00010</RuleCode>
        <RuleName>禁止使用原生的 DOM 操作API，必须使用 jQuery 或者 miniUI 提供的API</RuleName>
        <Regex>document\.(get|all)</Regex>
        <FileExt>
            <string>.js</string>
            <string>.aspx</string>
        </FileExt>
        <NonIncludeFolders>
            <string>_frontend</string>
            <string>_modeling</string>
        </NonIncludeFolders>
    </Rule>
    <Rule>
        <RuleCode>SPEC:C00011</RuleCode>
        <RuleName>判断是否为逻辑假，不得使用if(!bb)形式，必须写成if(bb == false)</RuleName>
        <Regex>!(\w|\()</Regex>
        <FileExt>
            <string>.cs</string>
        </FileExt>
    </Rule>
    <!--<Rule>
        <RuleCode>SPEC:C00012</RuleCode>
        <RuleName>使用Bitmap，Graphics时，要使用using包起来</RuleName>
        <Regex>\=+(\w|\s)*(Bitmap|Graphics)(\(|\.)+</Regex>
        <FileExt>
            <string>.cs</string>
        </FileExt>
    </Rule>-->
    <Rule>
        <RuleCode>SPEC:C00013</RuleCode>
        <RuleName>变量命名禁止包含 password, pwd, admin, sessionId 这些敏感名称</RuleName>
        <Regex>(id|name)\s*=\s*['"].+(password|pwd|admin|sessionId).+['"]</Regex>
        <FileExt>
            <string>.js</string>
            <string>.aspx</string>
        </FileExt>
        <NonIncludeFolders>
            <string>_frontend</string>
            <string>_modeling</string>
        </NonIncludeFolders>
    </Rule>
    <Rule>
        <RuleCode>SPEC:C00014</RuleCode>
        <RuleName>禁止使用Server.MapPath,Request.MapPath</RuleName>
        <Regex>(Server|Request)\.MapPath</Regex>
        <FileExt>
            <string>.cs</string>
        </FileExt>
    </Rule>
    <Rule>
        <RuleCode>SPEC:C00015</RuleCode>
        <RuleName>不允许使用HttpContext,HttpRequest,HttpResponse之类的ASP.NET对象</RuleName>
        <Regex>(HttpContext|HttpRequest|HttpResponse)\.+</Regex>
        <FileExt>
            <string>.cs</string>
        </FileExt>
    </Rule>
    <!--<Rule>
        <RuleCode>SPEC:C00016</RuleCode>
        <RuleName>禁止使用utility.ajax 之外的AJAX实现方式</RuleName>
        <Regex>(?&lt;![utility])\.ajax\(|xmlhttprequest</Regex>
        <FileExt>
            <string>.js</string>
            <string>.aspx</string>
        </FileExt>
        <NonIncludeFolders>
            <string>_frontend</string>
            <string>_modeling</string>
        </NonIncludeFolders>
    </Rule>-->
    <Rule>
        <RuleCode>SPEC:C00017</RuleCode>
        <RuleName>禁止使用ViewState,Session,Application集合</RuleName>
        <Regex>(ViewState|Session|Application)\[+</Regex>
        <FileExt>
            <string>.cs</string>
        </FileExt>
    </Rule>
    <Rule>
        <RuleCode>SPEC:C00018</RuleCode>
        <RuleName>禁止使用枚举来代替状态字符串</RuleName>
        <Regex>\=\s*"(YES|NO|SUCCESS|ERROR)\"</Regex>
        <FileExt>
            <string>.cs</string>
        </FileExt>
    </Rule>
    <Rule>
        <RuleCode>SPEC:C00019</RuleCode>
        <RuleName>所有缓存必须使用平台封装的CacheManager</RuleName>
        <Regex>\.Cache\.</Regex>
        <FileExt>
            <string>.cs</string>
        </FileExt>
    </Rule>
    <Rule>
        <RuleCode>SPEC:C00020</RuleCode>
        <RuleName>绝对禁止直接抛出Exception,SystemException类型的异常</RuleName>
        <Regex>throw\s+new\s+(Exception|SystemException)\W</Regex>
        <FileExt>
            <string>.cs</string>
        </FileExt>
    </Rule>
	<Rule>
		<RuleCode>SPEC:C00021</RuleCode>
		<RuleName>不允许业务代码捕获异常</RuleName>
		<Regex>\bcatch\b</Regex>
		<FileExt>
			<string>.cs</string>
		</FileExt>
	</Rule>
	<Rule>
		<RuleCode>SPEC:C00022</RuleCode>
		<RuleName>不允许拼接SQL字符串</RuleName>
		<Regex>\b(SELECT|FROM|WHERE|JOIN|AND)\b[^\{]+(\{\d\})</Regex>
		<FileExt>
			<string>.cs</string>
		</FileExt>
	</Rule>
	<Rule>
		<RuleCode>SPEC:C00023</RuleCode>
		<RuleName>不允许拼接HTML字符串</RuleName>
		<Regex>(\&lt;div|\&lt;p|\&lt;table|\&lt;tr|\&lt;td)(\s+|\&gt;)+</Regex>
		<FileExt>
			<string>.cs</string>
		</FileExt>
	</Rule>
	<Rule>
		<RuleCode>SPEC:C00024</RuleCode>
		<RuleName>代码中不允许写界面文字</RuleName>
		<Regex>"[\u4e00-\u9fa5]+</Regex>
		<FileExt>
			<string>.cs</string>
			<string>.js</string>			
		</FileExt>
		<NonIncludeFolders>
			<string>_modeling</string>
			<string>modeling</string>
		</NonIncludeFolders>
	</Rule>
	<Rule>
		<RuleCode>SPEC:C00024</RuleCode>
		<RuleName>代码中不允许写界面文字</RuleName>
		<Regex>\&lt;[\w|\W]+\&gt;([\u4e00-\u9fa5]+)</Regex>
		<FileExt>
			<string>.aspx</string>
		</FileExt>
		<NonIncludeFolders>
			<string>_modeling</string>
			<string>modeling</string>
		</NonIncludeFolders>
	</Rule>
	<Rule>
		<RuleCode>SPEC:C00025</RuleCode>
		<RuleName>公共成员必须包含注释</RuleName>
		<Regex>///([\s0-9a-zA-Z])*$</Regex>
		<FileExt>
			<string>.cs</string>
		</FileExt>
	</Rule>
	<Rule>
		<RuleCode>SPEC:C00026</RuleCode>
		<RuleName>禁止直接实例化Service实例，必须使用LazyService方式创建</RuleName>
		<Regex>new\s+\w+Service\s?\(\)</Regex>
		<FileExt>
			<string>.cs</string>
			<string>.aspx</string>
		</FileExt>
	</Rule>
	<Rule>
		<RuleCode>SPEC:C00026</RuleCode>
		<RuleName>禁止直接实例化Service实例，必须使用LazyService方式创建</RuleName>
		<Regex>new\s+LazyService&lt;\w+&gt;\s?\(\).Instance</Regex>
		<FileExt>
			<string>.cs</string>
		</FileExt>
	</Rule>
</ArrayOfRule>