<?xml version="1.0" encoding="utf-8"?>
<BranchConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Branchs>
    <Branch>
      <Id>1</Id>
      <Name>运行平台</Name>
      <DbLocation></DbLocation>
      <MongoLocation>mongodb://admin:1EF9D3F9C68F4FE6B63DA135EA76F390@10.5.106.100/Test_OnlyUse?connectTimeout=5s;socketTimeout=5s</MongoLocation>
      <ExceptionAlertEmail>lijf@mysoft.com.cn</ExceptionAlertEmail>
      <IgnoreRules>SPEC:C00001;SPEC:C00004;SPEC:C00005;SPEC:C00015;SPEC:C00019;SPEC:C00021;SPEC:C00024;SPEC:RM0018</IgnoreRules>
      <SubSystems>Platform</SubSystems>
    </Branch>
    <Branch>
      <Id>2</Id>
      <Name>建模平台</Name>
      <DbLocation>Server=10.5.10.76\sql2008r2;Database=dotnet_ERP400_dev_refactor;User ID=team_cp;Password=95938;</DbLocation>
      <MongoLocation>mongodb://admin:1EF9D3F9C68F4FE6B63DA135EA76F390@10.5.106.100/Test_OnlyUse?connectTimeout=5s;socketTimeout=5s</MongoLocation>
      <ExceptionAlertEmail>ligf@mysoft.com.cn;wenxz@mysoft.com.cn</ExceptionAlertEmail>
      <IgnoreRules>SPEC:C00005;SPEC:C00015;SPEC:C00019;SPEC:RM0018;SPEC:C00024;SPEC:C00029</IgnoreRules>
      <SubSystems>Platform</SubSystems>
    </Branch>
    <Branch>
      <Id>6</Id>
      <Name>公共</Name>
      <DbLocation>Server=10.5.10.76\sql2008r2;Database=dotnet_ERP400_dev_refactor;User ID=team_cp;Password=95938;</DbLocation>
      <MongoLocation>mongodb://admin:1EF9D3F9C68F4FE6B63DA135EA76F390@10.5.106.100/Test_OnlyUse?connectTimeout=5s;socketTimeout=5s</MongoLocation>
      <ExceptionAlertEmail>ligf@mysoft.com.cn</ExceptionAlertEmail>
      <IgnoreRules>SPEC:C00024</IgnoreRules>
      <SubSystems>PubBiz</SubSystems>
    </Branch>
    <Branch>
      <Id>5</Id>
      <Name>集成平台</Name>
      <DbLocation />
      <MongoLocation />
      <ExceptionAlertEmail>wangsy@mysoft.com.cn</ExceptionAlertEmail>
      <IgnoreRules>SPEC:C00024;SPEC:C00005;SPEC:C00021</IgnoreRules>
    </Branch>

    <Branch>
      <Id>7</Id>
      <Name>主数据</Name>
      <DbLocation>Server=10.5.10.76\sql2008r2;Database=dotnet_ERP400_dev_refactor;User ID=team_cp;Password=95938;</DbLocation>
      <MongoLocation>mongodb://admin:1EF9D3F9C68F4FE6B63DA135EA76F390@10.5.106.100/Test_OnlyUse?connectTimeout=5s;socketTimeout=5s</MongoLocation>
      <ExceptionAlertEmail>wangsy@mysoft.com.cn</ExceptionAlertEmail>
      <IgnoreRules>SPEC:C00024;SPEC:C00005;SPEC:C00021</IgnoreRules>
      <SubSystems></SubSystems>
    </Branch>
    <Branch>
      <Id>3</Id>
      <Name>售楼</Name>
      <DbLocation>Server=10.5.10.76\sql2008r2;Database=dotnet_ERP400_dev_refactor;User ID=team_cp;Password=95938;</DbLocation>
      <MongoLocation>mongodb://admin:1EF9D3F9C68F4FE6B63DA135EA76F390@10.5.106.100/Test_OnlyUse?connectTimeout=5s;socketTimeout=5s</MongoLocation>
      <ExceptionAlertEmail>liux08@mysoft.com.cn</ExceptionAlertEmail>
      <IgnoreRules>SPEC:C00024</IgnoreRules>
      <SubSystems>Slxt</SubSystems>
    </Branch>
    <Branch>
      <Id>4</Id>
      <Name>成本</Name>
      <DbLocation>Server=10.5.10.76\sql2008r2;Database=dotnet_ERP400_dev_refactor;User ID=team_cp;Password=95938;</DbLocation>
      <MongoLocation>mongodb://admin:1EF9D3F9C68F4FE6B63DA135EA76F390@10.5.106.100/Test_OnlyUse?connectTimeout=5s;socketTimeout=5s</MongoLocation>
      <ExceptionAlertEmail>chenb02@mysoft.com.cn</ExceptionAlertEmail>
      <IgnoreRules>SPEC:C00024</IgnoreRules>
      <SubSystems>Cbgl</SubSystems>
    </Branch>
    
  </Branchs>
</BranchConfig>