<?xml version="1.0" encoding="utf-8"?>
<BranchConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Branchs>    
    <Branch>
      <Id>1</Id>
      <Name>加密狗</Name>
      <DbLocation></DbLocation>
      <MongoLocation></MongoLocation>
      <ExceptionAlertEmail></ExceptionAlertEmail>
      <IgnoreRules>SPEC:C00024;SPEC:C00021;SPEC:C00005;SPEC:C00015;SPEC:C00004</IgnoreRules>
      <SubSystems>TEST</SubSystems>
    </Branch>
	<Branch>
      <Id>2</Id>
      <Name>自动更新</Name>
      <DbLocation></DbLocation>
      <MongoLocation></MongoLocation>
      <ExceptionAlertEmail></ExceptionAlertEmail>
      <IgnoreRules>SPEC:C00024;SPEC:C00021;SPEC:C00005</IgnoreRules>
      <SubSystems>TEST</SubSystems>
    </Branch>
	<!--<Branch>
      <Id>3</Id>
      <Name>TEST</Name>
      <DbLocation></DbLocation>
      <MongoLocation></MongoLocation>
      <ExceptionAlertEmail></ExceptionAlertEmail>
      <IgnoreRules>SPEC:C00024</IgnoreRules>
      <SubSystems>TEST</SubSystems>
    </Branch>-->
  </Branchs>
</BranchConfig>