<?xml version="1.0" encoding="utf-8"?>
<BusinessUnitConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <List>
    <BusinessUnit Name="平台" SubSystem="Platform">
      <!-- 必填，项目的英文名称，对应在ERP网站的目录名，这些目录包含了页面，JS，CSS文件 -->
      <ProjectName>DynamicModeling</ProjectName>
      <!-- 业务单元的所有命名空间，
               如果有多个命名空间的开始部分相同，只需要指定前面相同部分即可 
			   例如：平台有 56 个项目，用下面一个配置就可以了 -->
      <Namespaces>
        <string>Mysoft.Map6</string>
      </Namespaces>
      <FunctionCodes>
        <string>_base</string>
        <string>_frontend</string>
        <string>_controls</string>
        <string>_modeling</string>
        <string>modeling</string>
        <string>_frontend-doc</string>
        <string>_frontend-sdk</string>
        <string>ErpClient</string>
        <string>WithOutAuth</string>
        <string>MetadataUtility</string>
      </FunctionCodes>

      <!-- 可选项，页面URL前缀部分，
            如果不指定，在分析URL归属时，将根据 Namespaces，ProjectName 和 FunctionCodes 来匹配
            但是，特殊的目录名必须指定，例如：/PubPlatform/Nav/ -->
      <UrlPrefix>
        <string>/_base/</string>
        <string>/_frontend/</string>
        <string>/_controls/</string>
        <string>/_modeling/</string>
        <string>/modeling/</string>
        <string>/_frontend-doc/</string>
        <string>/_frontend-sdk/</string>
      </UrlPrefix>
    </BusinessUnit>
    <BusinessUnit Name="报表" SubSystem="Platform">
      <ProjectName>Report</ProjectName>
      <Namespaces>
        <string>Mysoft.Report</string>
      </Namespaces>
      <FunctionCodes>
        <string>9000</string>
      </FunctionCodes>
    </BusinessUnit>
    <BusinessUnit Name="建模辅助工具" SubSystem="Platform">
      <ProjectName>VersionController</ProjectName>
      <Namespaces>
        <string>AutoUpdate</string>
      </Namespaces>
    </BusinessUnit>
    <BusinessUnit Name="单点登录" SubSystem="Platform">
      <ProjectName>OAuth</ProjectName>
      <Namespaces>
        <string>Mysoft.MAP2.OAuth</string>
      </Namespaces>
      <UrlPrefix>
        <string>/ajax/OAuth.OAuthHander/</string>
      </UrlPrefix>
    </BusinessUnit>

    <!-- BEGIN销售系统-->
    <BusinessUnit Name="桌面部件" SubSystem="Slxt">
      <ProjectName>Mysoft.Slxt.Desktop</ProjectName>
      <Namespaces>
        <string>Mysoft.Slxt.Desktop</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Slxt/Desktop/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>001198</string>
      </FunctionCodes>
    </BusinessUnit>
    <BusinessUnit Name="售楼项目准备" SubSystem="Slxt">
      <ProjectName>Slxt.ProjectPrep</ProjectName>
      <Namespaces>
        <string>Mysoft.Slxt.ProjectPrep</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Slxt/ProjectPrep/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>00110101</string>
        <string>00110103</string>
        <string>00110107</string>
        <string>00110108</string>
        <string>00110102</string>
        <string>00110106</string>
      </FunctionCodes>
    </BusinessUnit>
    <BusinessUnit Name="定价管理" SubSystem="Slxt">
      <ProjectName>PriceMng</ProjectName>
      <Namespaces>
        <string>Mysoft.Slxt.PriceMng</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Slxt/PriceMng/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>00110403</string>
        <string>00110402</string>
        <string>00110401</string>
      </FunctionCodes>
    </BusinessUnit>
    <BusinessUnit Name="交易管理" SubSystem="Slxt">
      <ProjectName>TradeMng</ProjectName>
      <Namespaces>
        <string>Mysoft.Slxt.TradeMng</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Slxt/TradeMng/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>00110601</string>
        <string>00110602</string>
        <string>00110607</string>
        <string>00110604</string>
        <string>00110606</string>
        <string>00110605</string>
        <string>001106</string>
      </FunctionCodes>
    </BusinessUnit>
    <BusinessUnit Name="财务管理" SubSystem="Slxt">
      <ProjectName>FinanceMng</ProjectName>
      <Namespaces>
        <string>Mysoft.Slxt.FinanceMng</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Slxt/FinanceMng/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>00110803</string>
        <string>00110808</string>
        <string>00110804</string>
        <string>00110807</string>
        <string>00110801</string>
        <string>00110806</string>
        <string>00110805</string>
        <string>00110802</string>
      </FunctionCodes>
    </BusinessUnit>
    <BusinessUnit Name="售后服务" SubSystem="Slxt">
      <ProjectName>SaleService</ProjectName>
      <Namespaces>
        <string>Mysoft.Slxt.SaleService</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Slxt/SaleService/</string>
      </UrlPrefix>
      <FunctionCodes>
      </FunctionCodes>
    </BusinessUnit>
    <BusinessUnit Name="售楼资源文件"   SubSystem="Slxt">
      <ProjectName>Mysoft.Slxt.Resource</ProjectName>
      <Namespaces>
        <string>Mysoft.Slxt.Resource</string>
      </Namespaces>
    </BusinessUnit>
    <!-- END销售系统-->


    <!-- BEGIN公共系统 -->
    <BusinessUnit Name="登录及导航" SubSystem="PubBiz">
      <ProjectName>Nav</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.Nav</string>
        <string>Mysoft.PubPlatform.Plugin</string>
        <string>Mysoft.PubPlatform.WeChat</string>
        <string>Mysoft.PubPlatform.Widgets</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/Nav/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>00002108</string>
        <string>00002107</string>
        <string>00002109</string>
      </FunctionCodes>
    </BusinessUnit>
    <BusinessUnit Name="组织架构" SubSystem="PubBiz">
      <ProjectName>Organization</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.Organization</string>
        <string>Mysoft.PubPlatform.Plugin</string>
        <string>CloudCustomerIntergration</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/Organization/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>0000210201</string>
        <string>00002307</string>
        <string>00002303</string>
      </FunctionCodes>
    </BusinessUnit>
    <BusinessUnit Name="主数据"   SubSystem="Mdm">
      <ProjectName>Mdm</ProjectName>
      <Namespaces>
        <string>Mysoft.Mdm</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Mdm/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>000301</string>
        <string>000302</string>
      </FunctionCodes>
    </BusinessUnit>
    <BusinessUnit Name="消息中心" SubSystem="PubBiz">
      <ProjectName>MessageCenter</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.MessageCenter</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/MessageCenter/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>00002402</string>
        <string>00002402</string>
        <string>00002403</string>
      </FunctionCodes>
    </BusinessUnit>
    <BusinessUnit Name="日志管理" SubSystem="PubBiz">
      <ProjectName>LogManage</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.LogManage</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/LogManage/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>0000210401</string>
        <string>0000210402</string>
        <string>0000210404</string>
        <string>0000210403</string>
      </FunctionCodes>
    </BusinessUnit>
    <BusinessUnit Name="集成登录" SubSystem="PubBiz">
      <ProjectName>IntegrationLogin</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.IntegrationLogin</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/IntegrationLogin/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>0002501</string>
      </FunctionCodes>
    </BusinessUnit>
    <BusinessUnit Name="业务参数"   SubSystem="PubBiz">
      <ProjectName>Param</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.Param</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/Param/</string>
      </UrlPrefix>
    </BusinessUnit>
    <BusinessUnit Name="项目概况"   SubSystem="PubBiz">
      <ProjectName>ProjectOverview</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.ProjectOverview</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/ProjectOverview/</string>
      </UrlPrefix>
    </BusinessUnit>
    <BusinessUnit Name="信息发送平台"   SubSystem="PubBiz">
      <ProjectName>MessageSendPlatform</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.MessageSendPlatform</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/MessageSendPlatform/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>00111501</string>
        <string>00111502</string>
      </FunctionCodes>
    </BusinessUnit>
    <BusinessUnit Name="帮助中心"   SubSystem="PubBiz">
      <ProjectName>OnlineHelp</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.OnlineHelp</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/OnlineHelp/</string>
      </UrlPrefix>
    </BusinessUnit>
    <BusinessUnit Name="系统运行巡检"   SubSystem="PubBiz">
      <ProjectName>SystemWorkingInspection</ProjectName>
      <Namespaces>
        <string>MMysoft.PubPlatform.SystemWorkingInspection</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/SystemWorkingInspection/</string>
      </UrlPrefix>
    </BusinessUnit>
    <BusinessUnit Name="资源文件"   SubSystem="PubBiz">
      <ProjectName>Mysoft.PubPlatform.Resource</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.Resource</string>
      </Namespaces>
    </BusinessUnit>
    <BusinessUnit Name="消息服务" SubSystem="PubBiz">
      <ProjectName>MessageService</ProjectName>
      <Namespaces>
        <string>Mysoft.MessageService</string>
        <string>SmsService</string>
        <string>ServiceManager</string>
        <string>Mysoft.Sms</string>
        <string>Mysoft.Map.Message</string>
        <string>MailService</string>
        <string>ISPServer</string>
        <string>ISPDLL</string>
      </Namespaces>
    </BusinessUnit>
    <!-- END公共系统 -->


    <!-- BEGIN成本系统 -->
    <BusinessUnit Name="成本项目准备" SubSystem="Cbgl">
      <ProjectName>Cbxt.ProjectPrep</ProjectName>
      <Namespaces>
        <string>Mysoft.Cbxt.ProjectPrep</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Cbxt/ProjectPrep/</string>
      </UrlPrefix>
    </BusinessUnit>
    <BusinessUnit Name="合同管理" SubSystem="Cbgl">
      <ProjectName>ContractMng</ProjectName>
      <Namespaces>
        <string>Mysoft.Cbxt.ContractMng</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Cbxt/ContractMng/</string>
      </UrlPrefix>
    </BusinessUnit>
    <BusinessUnit Name="成本资源文件"   SubSystem="Cbgl">
      <ProjectName>Mysoft.Cbxt.Resource</ProjectName>
      <Namespaces>
        <string>Mysoft.Cbxt.Resource</string>
      </Namespaces>
    </BusinessUnit>
    <!-- END成本系统-->


    <BusinessUnit Name="工作流"   SubSystem="Workflow">
      <ProjectName>Workflow</ProjectName>
      <Namespaces>
        <string>Mysoft.Workflow</string>
        <string>MyWorkflow</string>
      </Namespaces>
    </BusinessUnit>

    <BusinessUnit Name="集成平台" SubSystem="MIP">
      <ProjectName>MIP</ProjectName>
      <Namespaces>
        <string>Mysoft.MIP</string>
      </Namespaces>
      <UrlPrefix>
        <string>/ajax/Mysoft.MIP/</string>
      </UrlPrefix>
    </BusinessUnit>

    <!-- BEGIN子系统公共部分放在最后面匹配 -->
    <BusinessUnit Name="售楼公用" SubSystem="Slxt">
      <ProjectName>Slxt</ProjectName>
      <Namespaces>
        <string>Slxt</string>
        <string>Mysoft.Slxt.Common</string>
      </Namespaces>
    </BusinessUnit>
    <BusinessUnit Name="成本公用" SubSystem="Cbgl">
      <ProjectName>Cbxt</ProjectName>
      <Namespaces>
        <string>Cbxt</string>
      </Namespaces>
    </BusinessUnit>
    <BusinessUnit Name="公共公用" SubSystem="PubBiz">
      <ProjectName>Mysoft.PubPlatform</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.Common</string>
        <string>Mysoft.PubPlatform</string>
        <string>Mysoft.PubProject</string>
      </Namespaces>
      <FunctionCodes>
        <string>00002002</string>
        <string>000021</string>
        <string>PubProject</string>
      </FunctionCodes>
    </BusinessUnit>
    <!-- END子系统公共部分放在最后面匹配-->
  </List>
</BusinessUnitConfig>