<?xml version="1.0" encoding="utf-8"?>
<BusinessUnitConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <List>
    <BusinessUnit Name="平台" SubSystem="Platform">
      <!-- 必填，项目的英文名称，对应在ERP网站的目录名，这些目录包含了页面，JS，CSS文件 -->
      <ProjectName>DynamicModeling</ProjectName>
      <!-- 业务单元的所有命名空间，
               如果有多个命名空间的开始部分相同，只需要指定前面相同部分即可 
			   例如：平台有 56 个项目，用下面一个配置就可以了 -->
      <Namespaces>
        <string>Mysoft.Map6</string>
      </Namespaces>
      <FunctionCodes>
        <string>_base</string>
        <string>_frontend</string>
        <string>_controls</string>
        <string>_modeling</string>
        <string>modeling</string>
        <string>_frontend-doc</string>
        <string>_frontend-sdk</string>
        <string>ErpClient</string>
        <string>WithOutAuth</string>
        <string>MetadataUtility</string>
      </FunctionCodes>

      <!-- 可选项，页面URL前缀部分，
            如果不指定，在分析URL归属时，将根据 Namespaces，ProjectName 和 FunctionCodes 来匹配
            但是，特殊的目录名必须指定，例如：/PubPlatform/Nav/ -->
      <UrlPrefix>
        <string>/_base/</string>
        <string>/_frontend/</string>
        <string>/_controls/</string>
        <string>/_modeling/</string>
        <string>/modeling/</string>
        <string>/_frontend-doc/</string>
        <string>/_frontend-sdk/</string>
      </UrlPrefix>

      <!-- 必填，业务单元所属的表名，支持星号结尾 -->
      <Tables>
        <string>map_*</string>
        <string>mdl_*</string>
        <string>myAction</string>
        <string>myApplication</string>
        <string>myAppFindCondition</string>
        <string>data_dict</string>
        <string>enum_dict</string>
        <string>myEntityFilter</string>
        <string>myGridArgs</string>
      </Tables>
    </BusinessUnit>
    <BusinessUnit Name="报表" SubSystem="Platform">
      <ProjectName>Report</ProjectName>
      <Namespaces>
        <string>Mysoft.Report</string>
      </Namespaces>
      <FunctionCodes>
        <string>9000</string>
      </FunctionCodes>
    </BusinessUnit>
    <BusinessUnit Name="建模辅助工具" SubSystem="Platform">
      <ProjectName>VersionController</ProjectName>
      <Namespaces>
        <string>AutoUpdate</string>
      </Namespaces>
    </BusinessUnit>
    <BusinessUnit Name="单点登录" SubSystem="Platform">
      <ProjectName>OAuth</ProjectName>
      <Namespaces>
        <string>Mysoft.MAP2.OAuth</string>
      </Namespaces>
      <UrlPrefix>
        <string>/ajax/OAuth.OAuthHander/</string>
      </UrlPrefix>
    </BusinessUnit>

    <!-- BEGIN销售系统-->
    <BusinessUnit Name="桌面部件" SubSystem="Slxt">
      <ProjectName>Mysoft.Slxt.Desktop</ProjectName>
      <Namespaces>
        <string>Mysoft.Slxt.Desktop</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Slxt/Desktop/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>001198</string>
      </FunctionCodes>
      <Tables>
      </Tables>
    </BusinessUnit>
    <BusinessUnit Name="售楼项目准备" SubSystem="Slxt">
      <ProjectName>Slxt.ProjectPrep</ProjectName>
      <Namespaces>
        <string>Mysoft.Slxt.ProjectPrep</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Slxt/ProjectPrep/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>00110101</string>
        <string>00110103</string>
        <string>00110107</string>
        <string>00110108</string>
        <string>00110102</string>
        <string>00110106</string>
      </FunctionCodes>
      <Tables>
        <string>s_Barcode2Binary</string>
        <string>s_Area</string>
        <string>s_AraeBuildingMaping</string>
        <string>s_AreaSection</string>
        <string>s_BuildingArea</string>
        <string>s_BuildingFloor</string>
        <string>s_BuildingUnit</string>
        <string>s_BuildingUnitRoomNumber</string>
        <string>s_OpeningBatch</string>
        <string>s_AccountAge</string>
        <string>s_FeeItem</string>
        <string>s_PrintSet</string>
        <string>s_PrintSetDocument</string>
        <string>s_PrintSetToProject</string>
        <string>s_ProjectTeam</string>
        <string>s_ProjectTeamAuthedUserIds</string>
        <string>s_ProjectTeamUser</string>
        <string>s_AreaChg</string>
        <string>s_ChooseRoom</string>
        <string>s_HouseShape</string>
        <string>s_OutbuildingRelation</string>
        <string>s_Room</string>
        <string>s_HtDetail_Template</string>
        <string>s_AreaChg_DeleteBak</string>
        <string>TEMP_Area</string>
      </Tables>
    </BusinessUnit>
    <BusinessUnit Name="定价管理" SubSystem="Slxt">
      <ProjectName>PriceMng</ProjectName>
      <Namespaces>
        <string>Mysoft.Slxt.PriceMng</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Slxt/PriceMng/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>00110403</string>
        <string>00110402</string>
        <string>00110401</string>
      </FunctionCodes>
      <Tables>
        <string>s_SetPrice2PayForm</string>
        <string>s_SetPriceDetail</string>
        <string>S_SetPricePlan</string>
        <string>s_CollectionFeeSet</string>
        <string>s_DiscountBuildings</string>
        <string>s_DiscountDetail</string>
        <string>s_DiscountPlan</string>
        <string>s_DiscountSpecifyRoom</string>
        <string>s_PayDetail</string>
        <string>s_PayForm</string>
        <string>s_Payform2Bld</string>
        <string>s_BtmPriceChg</string>
        <string>s_PriceChg</string>
        <string>s_SurfacePriceDetail</string>
        <string>s_SurfacePricePlan</string>
        <string>s_TjDetail</string>
      </Tables>
    </BusinessUnit>
    <BusinessUnit Name="交易管理" SubSystem="Slxt">
      <ProjectName>TradeMng</ProjectName>
      <Namespaces>
        <string>Mysoft.Slxt.TradeMng</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Slxt/TradeMng/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>00110601</string>
        <string>00110602</string>
        <string>00110607</string>
        <string>00110604</string>
        <string>00110606</string>
        <string>00110605</string>
        <string>001106</string>
      </FunctionCodes>
      <Tables>
        <string>s_Backtrack</string>
        <string>s_Buyer</string>
        <string>s_Contract</string>
        <string>s_OC2CstSale</string>
        <string>s_OC2PostProcessor</string>
        <string>s_OC2Sale</string>
        <string>s_OCAttachRoom</string>
        <string>s_OCDiscount</string>
        <string>s_OpeningBatch</string>
        <string>s_RoomControl</string>
        <string>s_ModifyLog</string>
        <string>s_ModifyLogConfig</string>
        <string>s_Order</string>
        <string>s_FollowupSituation</string>
        <string>s_FollowupSituationUrge</string>
        <string>s_Reserve</string>
      </Tables>
    </BusinessUnit>
    <BusinessUnit Name="财务管理" SubSystem="Slxt">
      <ProjectName>FinanceMng</ProjectName>
      <Namespaces>
        <string>Mysoft.Slxt.FinanceMng</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Slxt/FinanceMng/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>00110803</string>
        <string>00110808</string>
        <string>00110804</string>
        <string>00110807</string>
        <string>00110801</string>
        <string>00110806</string>
        <string>00110805</string>
        <string>00110802</string>
      </FunctionCodes>
      <Tables>
        <string>s_Carryover</string>
        <string>s_CarryoverRoomMaping</string>
        <string>p_CwjkPz</string>
        <string>p_CwjkPzEntry</string>
        <string>p_CwjkPzVoucher</string>
        <string>s_Fee</string>
        <string>s_FeeItem</string>
        <string>p_CwjkCwzt</string>
        <string>p_CwjkHsxm</string>
        <string>p_CwjkHsxmMap</string>
        <string>p_CwjkKjkm</string>
        <string>p_CwjkKjkm2Hsxm</string>
        <string>p_CwjkKjkm2OperData</string>
        <string>p_CwjkOperType</string>
        <string>p_CwjkProject</string>
        <string>p_CwjkPzEntryRule</string>
        <string>p_CwjkSoftFileType</string>
        <string>p_CwjkSoftVesion</string>
        <string>s_Getin</string>
        <string>s_Voucher</string>
        <string>s_DefalutInvoSeting</string>
        <string>s_Invoice</string>
        <string>s_Invoice2Proj</string>
        <string>s_InvoiceDetail</string>
        <string>TempPzVoucher2Getin</string>
        <string>TempPzVoucherGetinPZ</string>
      </Tables>
    </BusinessUnit>
    <BusinessUnit Name="售后服务" SubSystem="Slxt">
      <ProjectName>SaleService</ProjectName>
      <Namespaces>
        <string>Mysoft.Slxt.SaleService</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Slxt/SaleService/</string>
      </UrlPrefix>
      <FunctionCodes>
      </FunctionCodes>
      <Tables>
        <string>s_SaleService</string>
        <string>s_SaleServiceProc</string>
        <string>s_SaleServiceProcSet</string>
        <string>s_SaleServiceSet</string>
      </Tables>
    </BusinessUnit>
    <BusinessUnit Name="售楼资源文件"   SubSystem="Slxt">
      <ProjectName>Mysoft.Slxt.Resource</ProjectName>
      <Namespaces>
        <string>Mysoft.Slxt.Resource</string>
      </Namespaces>
    </BusinessUnit>
    <!--TODO:马洁，似乎没有使用了，先留着观察一段时间20160628-->
    <BusinessUnit Name="销售变更" SubSystem="Slxt">
      <ProjectName>SaleChg</ProjectName>
      <Namespaces>
        <string>Mysoft.Slxt.SaleChg</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Slxt/SaleChg/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>00110701</string>
      </FunctionCodes>
      <Tables>
        <string>s_ChangeBuyer</string>
        <string>s_ChangePriceDiscount</string>
        <string>s_ChangeRoomDetails</string>
        <string>s_DelayPayment</string>
        <string>s_DelayPaymentDetails</string>
        <string>s_DelaySign</string>
        <string>s_PostChangeInfo</string>
        <string>s_PriceChangeDetail</string>
        <string>s_SaleModiApply</string>
      </Tables>
    </BusinessUnit>
    <!--TODO:马洁，似乎没有使用了，先留着观察一段时间20160628-->
    <BusinessUnit Name="客户管理" SubSystem="Slxt">
      <ProjectName>CustomerMng</ProjectName>
      <Namespaces>
        <string>Mysoft.Slxt.CustomerMng</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Slxt/CustomerMng/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>00111101</string>
      </FunctionCodes>
      <Tables>
        <string>p_CstAttach</string>
        <string>p_Customer</string>
        <string>s_Opportunity</string>
        <string>s_Opportunity2Sale</string>
        <string>s_Opportunity2Trade</string>
        <string>s_OpportunityFollowup</string>
      </Tables>
    </BusinessUnit>
    <!--TODO:马洁，似乎没有使用了，先留着观察一段时间20160628-->
    <BusinessUnit Name="开盘管理" SubSystem="Slxt">
      <ProjectName>OpeningMng</ProjectName>
      <Namespaces>
        <string>Mysoft.Slxt.OpeningMng</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Slxt/OpeningMng/</string>
      </UrlPrefix>
      <FunctionCodes>
      </FunctionCodes>
      <Tables>
        <string>s_Booking</string>
        <string>s_Booking2Cst</string>
      </Tables>
    </BusinessUnit>
    <!--TODO:马洁，似乎没有使用了，先留着观察一段时间20160628-->
    <BusinessUnit Name="销售预算" SubSystem="Slxt">
      <ProjectName>MarketingMng</ProjectName>
      <Namespaces>
        <string>Mysoft.Slxt.MarketingMng</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Slxt/MarketingMng/</string>
      </UrlPrefix>
    </BusinessUnit>
    <!--TODO:马洁，似乎没有使用了，先留着观察一段时间20160628-->
    <BusinessUnit Name="服务监控" SubSystem="Slxt">
      <ProjectName>ServiceMonitoring</ProjectName>
      <Namespaces>
        <string>Mysoft.Slxt.ServiceMonitoring</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Slxt/ServiceMonitoring/</string>
      </UrlPrefix>
    </BusinessUnit>
    <!-- END销售系统-->


    <!-- BEGIN公共系统 -->
    <BusinessUnit Name="登录及导航" SubSystem="PubBiz">
      <ProjectName>Nav</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.Nav</string>
        <string>Mysoft.PubPlatform.Plugin</string>
        <string>Mysoft.PubPlatform.WeChat</string>
        <string>Mysoft.PubPlatform.Widgets</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/Nav/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>00002108</string>
        <string>00002107</string>
        <string>00002109</string>
      </FunctionCodes>
      <Tables>
        <string>BackgroundMode</string>
        <string>MyUserCommonlyFunction</string>
        <string>MyUserRecall</string>
        <string>p_BgSetting</string>
        <string>P_DesktopPart</string>
        <string>P_DesktopPartEx</string>
        <string>P_Image</string>
        <string>P_MenuLockSetting</string>
        <string>P_PartTemplate</string>
        <string>P_ShortcutNewConfig</string>
        <string>P_TemplatePartRelation</string>
        <string>WorkingRecord</string>
        <string>WorkingRecordType</string>
      </Tables>
    </BusinessUnit>
    <BusinessUnit Name="组织架构" SubSystem="PubBiz">
      <ProjectName>Organization</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.Organization</string>
        <string>Mysoft.PubPlatform.Plugin</string>
        <string>CloudCustomerIntergration</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/Organization/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>0000210201</string>
        <string>00002307</string>
        <string>00002303</string>
      </FunctionCodes>
      <Tables>
        <string>mybusinessunit</string>
        <string>p_AdjustDetailsDisplay</string>
        <string>p_AdjustRecord</string>
        <string>p_AdjustRecordDetails</string>
        <string>p_BillPhoto_Contract</string>
        <string>p_BillType</string>
        <string>p_BillTypeConfig</string>
        <string>p_BillTypePhotoFieldConfig</string>
        <string>p_BillTypePhotoTableConfig</string>
        <string>p_BillTypeProcessingConfig</string>
        <string>p_BillTypeSubordinate</string>
        <string>p_DataAdjustApplication</string>
        <string>p_DataBaseTypeConfig</string>
        <string>p_DataBaseTypeProcessConfig</string>
        <string>p_DataBaseTypeProcessingConfig</string>
        <string>p_DataBaseTypeProcessingRecord</string>
        <string>p_DataBaseTypeUniqueField</string>

        <string>myStandardRole</string>
        <string>myStandardRoleRight</string>
        <string>MyStandardRoleType</string>

        <string>MyUser</string>
        <string>MyUser2Role</string>
        <string>p_DataBaseTypeUniqueField</string>
      </Tables>
    </BusinessUnit>
    <BusinessUnit Name="主数据"   SubSystem="Mdm">
      <ProjectName>Mdm</ProjectName>
      <Namespaces>
        <string>Mysoft.Mdm</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Mdm/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>000301</string>
        <string>000302</string>
      </FunctionCodes>
    </BusinessUnit>
    <BusinessUnit Name="消息中心" SubSystem="PubBiz">
      <ProjectName>MessageCenter</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.MessageCenter</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/MessageCenter/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>00002402</string>
        <string>00002402</string>
        <string>00002403</string>
      </FunctionCodes>
      <Tables>
        <string>P_Message</string>
        <string>p_MessageDisableRule</string>
        <string>p_MessageRegister</string>
        <string>p_MessageRegisterSchedulerState</string>
        <string>p_MessageSubscribe</string>
        <string>p_MailSend</string>
        <string>p_MessageSubscriberConfig</string>
        <string>p_TaskWake</string>
        <string>p_SmsSend</string>
        <string>mySmsAccountToModel</string>
        <string>p_MessagePlanExecLog</string>
      </Tables>
    </BusinessUnit>
    <BusinessUnit Name="日志管理" SubSystem="PubBiz">
      <ProjectName>LogManage</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.LogManage</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/LogManage/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>0000210401</string>
        <string>0000210402</string>
        <string>0000210404</string>
        <string>0000210403</string>
      </FunctionCodes>
      <Tables>
        <string>p_LogConfig</string>
        <string>p_LogConfigDetails</string>
      </Tables>
    </BusinessUnit>
    <BusinessUnit Name="集成登录" SubSystem="PubBiz">
      <ProjectName>IntegrationLogin</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.IntegrationLogin</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/IntegrationLogin/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>0002501</string>
      </FunctionCodes>
      <Tables>
        <string>p_SsoWebsite</string>
        <string>p_SsoWebsiteLoginMap</string>
        <string>p_SsoWebsiteParam</string>
      </Tables>
    </BusinessUnit>
    <BusinessUnit Name="业务参数"   SubSystem="PubBiz">
      <ProjectName>Param</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.Param</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/Param/</string>
      </UrlPrefix>
    </BusinessUnit>
    <BusinessUnit Name="项目概况"   SubSystem="PubBiz">
      <ProjectName>ProjectOverview</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.ProjectOverview</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/ProjectOverview/</string>
      </UrlPrefix>
    </BusinessUnit>
    <BusinessUnit Name="信息发送平台"   SubSystem="PubBiz">
      <ProjectName>MessageSendPlatform</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.MessageSendPlatform</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/MessageSendPlatform/</string>
      </UrlPrefix>
      <FunctionCodes>
        <string>00111501</string>
        <string>00111502</string>
      </FunctionCodes>
    </BusinessUnit>
    <BusinessUnit Name="帮助中心"   SubSystem="PubBiz">
      <ProjectName>OnlineHelp</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.OnlineHelp</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/OnlineHelp/</string>
      </UrlPrefix>
    </BusinessUnit>
    <BusinessUnit Name="系统运行巡检"   SubSystem="PubBiz">
      <ProjectName>SystemWorkingInspection</ProjectName>
      <Namespaces>
        <string>MMysoft.PubPlatform.SystemWorkingInspection</string>
      </Namespaces>
      <UrlPrefix>
        <string>/PubPlatform/SystemWorkingInspection/</string>
      </UrlPrefix>
    </BusinessUnit>
    <BusinessUnit Name="资源文件"   SubSystem="PubBiz">
      <ProjectName>Mysoft.PubPlatform.Resource</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.Resource</string>
      </Namespaces>
    </BusinessUnit>
    <!--TODO:马洁，似乎没有使用了，先留着观察一段时间20160628-->
    <BusinessUnit Name="消息服务" SubSystem="PubBiz">
      <ProjectName>MessageService</ProjectName>
      <Namespaces>
        <string>Mysoft.MessageService</string>
        <string>SmsService</string>
        <string>ServiceManager</string>
        <string>Mysoft.Sms</string>
        <string>Mysoft.Map.Message</string>
        <string>MailService</string>
        <string>ISPServer</string>
        <string>ISPDLL</string>
      </Namespaces>
    </BusinessUnit>
    <!-- END公共系统 -->


    <!-- BEGIN成本系统 -->
    <BusinessUnit Name="成本项目准备" SubSystem="Cbgl">
      <ProjectName>Cbxt.ProjectPrep</ProjectName>
      <Namespaces>
        <string>Mysoft.Cbxt.ProjectPrep</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Cbxt/ProjectPrep/</string>
      </UrlPrefix>
    </BusinessUnit>
    <BusinessUnit Name="合同管理" SubSystem="Cbgl">
      <ProjectName>ContractMng</ProjectName>
      <Namespaces>
        <string>Mysoft.Cbxt.ContractMng</string>
      </Namespaces>
      <UrlPrefix>
        <string>/Cbxt/ContractMng/</string>
      </UrlPrefix>
      <Tables>
        <string>cb_*</string>
      </Tables>
    </BusinessUnit>
    <BusinessUnit Name="成本资源文件"   SubSystem="Cbgl">
      <ProjectName>Mysoft.Cbxt.Resource</ProjectName>
      <Namespaces>
        <string>Mysoft.Cbxt.Resource</string>
      </Namespaces>
    </BusinessUnit>
    <!-- END成本系统-->


    <BusinessUnit Name="工作流"   SubSystem="Workflow">
      <ProjectName>Workflow</ProjectName>
      <Namespaces>
        <string>Mysoft.Workflow</string>
        <string>MyWorkflow</string>
      </Namespaces>
      <Tables>
        <string>myWorkflow*</string>
        <string>WF_*</string>
        <string>myBizParamOptionAction</string>
        <string>mySysData</string>
      </Tables>
    </BusinessUnit>

    <BusinessUnit Name="集成平台" SubSystem="MIP">
      <ProjectName>MIP</ProjectName>
      <Namespaces>
        <string>Mysoft.MIP</string>
      </Namespaces>
      <UrlPrefix>
        <string>/ajax/Mysoft.MIP/</string>
      </UrlPrefix>
    </BusinessUnit>

    <!-- BEGIN子系统公共部分放在最后面匹配 -->
    <BusinessUnit Name="售楼公用" SubSystem="Slxt">
      <ProjectName>Slxt</ProjectName>
      <Namespaces>
        <string>Slxt</string>
        <string>Mysoft.Slxt.Common</string>
      </Namespaces>
      <Tables>
        <string>s_*</string>
      </Tables>
    </BusinessUnit>
    <BusinessUnit Name="成本公用" SubSystem="Cbgl">
      <ProjectName>Cbxt</ProjectName>
      <Namespaces>
        <string>Cbxt</string>
      </Namespaces>
    </BusinessUnit>
    <BusinessUnit Name="公共公用" SubSystem="PubBiz">
      <ProjectName>Mysoft.PubPlatform</ProjectName>
      <Namespaces>
        <string>Mysoft.PubPlatform.Common</string>
        <string>Mysoft.PubPlatform</string>
        <string>Mysoft.PubProject</string>
      </Namespaces>
      <FunctionCodes>
        <string>00002002</string>
        <string>000021</string>
        <string>PubProject</string>
      </FunctionCodes>
      <Tables>
        <string>myStandardRoleRight</string>
        <string>myStandardRoleUser</string>
        <string>myEntityFilter</string>
        <string>mySmsAccountToModel</string>
        <string>myStandardRoleUserRight</string>
        <string>mySmsSend</string>
        <string>myGridArgs</string>
        <string>myTemp</string>
        <string>myMsgMonitor</string>
        <string>myStandardRoleRightMutexSetting</string>
        <string>mySmsMobileFilter</string>
        <string>mybizparamGroup</string>
        <string>mybizparamOption</string>
        <string>mybizparamRegist</string>
        <string>MyRptGroup</string>
        <string>MyRptDetail</string>
        <string>mySmsMobileCombination</string>
        <string>MyRptDataSource</string>
        <string>myParamValue</string>
        <string>mySmsReceived</string>
        <string>myUser</string>
        <string>MyUser2Role</string>
        <string>myParamValueHistory</string>
        <string>mySmsSending</string>
        <string>MyKeyword</string>
        <string>mySmsSent</string>
        <string>mySmsSentHistory</string>
        <string>myMetadataImportLog</string>
        <string>myUserPerSign</string>
        <string>myGlobalRole2Role</string>
        <string>myUserBusinessUnitMapping</string>
        <string>myGlobalRole</string>
        <string>MyAppServiceConfig</string>
        <string>myProfession</string>
        <string>MyBusinessUnitConfig</string>
        <string>myUserProjectMapping</string>
        <string>myProfession2Role</string>
        <string>myInformation</string>
        <string>myInformationHistory</string>
        <string>myMailSend</string>
        <string>myFunctionConfig</string>
        <string>myUserCommonlyFunction</string>
        <string>MyUserRecall</string>
        <string>myReportRoleRight</string>
        <string>myDataAclDimension</string>
        <string>myDataAclDimensionOptionConfig</string>
        <string>myDataAclDimensionOption</string>
        <string>myOperationUser2Project</string>
        <string>myOperationUser2PublicAccount</string>
        <string>myOrganizationLevel</string>
        <string>myParamHistory</string>
        <string>myDataAclReg</string>
        <string>myDataAclRecord</string>
        <string>myDataAclRecordDetail</string>
        <string>myDataAclRecordDetailDataItem</string>
        <string>myBusinessUnit</string>
        <string>mySite</string>
        <string>myStandardRoleType</string>
        <string>myFunctionPermissionSettings</string>
        <string>myNewGuidelines</string>
        <string>myTaskWake</string>
        <string>myAction</string>
        <string>myActionDesign</string>
        <string>myApplication</string>
        <string>myApplicationDesign</string>
        <string>myFunction</string>
        <string>myStandardRole</string>
        <string>myFunctionDesign</string>
        <string>myApplicationToProject</string>
        <string>mySmsAccount</string>
        <string>myAppFindCondition</string>
        <string>p_*</string>
        <string>yd_*</string>
      </Tables>
    </BusinessUnit>
    <!-- END子系统公共部分放在最后面匹配-->
  </List>
</BusinessUnitConfig>