@using SpecChecker.CoreLibrary.UnitTest
@{
    Layout = null;
    var model = this.Model as PagedList<UnitTestResult>;
}

<table border="1">
    <tr class="header">
        <td style="width: 240px">项目名称</td>
        <td style="width: 70px">代码块总数</td>
        <td style="width: 70px">覆盖数量</td>
    </tr>
    @foreach( var m in model.List ) {
        <tr>
            <td class="nowrap mainTableCellGraph">
                @m.ProjectName<br/>
                @HtmlExtensions.GetCodeCoverGraphCellTable(m.Total, m.Passed, 240)
        </td>
            <td>@m.Total</td>
            <td>@m.Passed</td>
        </tr>

    }
</table>