@{
    Layout = null;
    var model = this.Model as PagedList<SpecChecker.CoreLibrary.DbScan.DbCheckResult>;
    int index = model.PageIndex.GetValueOrDefault() * model.PageSize + 1;
    string divclass = null;
}

@if( index == 1 ) {
    <p><br /></p>
}

@foreach( var m in model.List ) {
    divclass = (index % 2) == 0 ? "data0" : "data1";
    <div class="@divclass">
        <p># @(index++.ToString())</p>
        @*<p>业务单元：@m.BusinessUnit</p>*@
        <p>不规范原因：@m.Reason</p>
        <p>对象信息：@m.Informantion</p>
    </div>
}

@if( model.HasNextPage ) {
    <p class="next-page"><a href="@model.GetNextLink()">下一页</a></p>

}