body{
	margin: 0px;
    padding: 5px;
    font-size: 16px;
    font-family: '微软雅黑', '宋体', Calibri, Consolas, Arial;
}
p.note{
	margin: 0px;
	line-height: 180%;
	padding: 15px 0px 3px 0px;
}
p.note b{
	font-weight: bold;
}
ul{
	margin: 0px;
	padding: 0px 20px;
}
ul li{
	margin: 0px;
	padding: 3px 3px;
}
h2{
	font-size: 20px;
}
a{
	text-decoration: none;
}

#qaReport{
	border-collapse: collapse;
	border: solid 1px #999;
}
#qaReport td{
	font-family: '微软雅黑', '宋体', Calibri, Consolas, Arial;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding: 3px 5px;
	border:solid #999; border-width:0px 1px 1px 0px;
	word-break: keep-all;
	white-space: nowrap;
}
#qaReport tr.header{
	background-color: #d1eed0;
}

#calendar1{
    padding-bottom: 10px;
    display: none;
}
#txtDate, #calendar1 button{
    height: 25px;
}