<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

	<appSettings>
    <!--对应网站 SpecChecker.WebApplication1 的访问地址-->
    <add key="ServiceWebsite" value="http://localhost:55768/"/>
    <!--对应 SpecChecker.WebLib.Services.UploadService的UploadResult方法开头的验证代码-->
    <add key="authentication-key" value="2bb9c8ce-cb8d-460c-83eb-d110e8ab3aff"/>
    
  
    <!--请在部署时，确认并调整以下工具的实际路径-->
    <add key="tfs-client-path" value="%VS140COMNTOOLS%..\IDE\tf.exe"/>
    <add key="msbuild-path" value="C:\Program Files (x86)\MSBuild\14.0\Bin\MSBuild.exe"/>
    <add key="---NUnit-path" value="%NUnit%\nunit3-console.exe"/>
    <add key="dotCover-path" value="C:\Users\liqf01\AppData\Local\JetBrains\Installations\ReSharperPlatformVs14\dotCover.exe"/>

    
    <!-- 源代码的环境变量 -->
    <!--<add key="var-MAP" value="D:\TFS\10_5_11_46\MAP2\01平台代码\01ERP平台\02开发分支"/>
    <add key="var-售楼" value="D:\TFS\10_5_10_96\Prod\ERP-V1.0\30_售楼系统\01_主干-开发分支"/>
    <add key="var-成本" value="D:\TFS\10_5_10_96\Prod\ERP-V1.0\40_成本系统\01_主干-开发分支"/>
    <add key="var-主数据" value="D:\TFS\10_5_10_96\Prod\ERP-V1.0\20_主数据系统\01_主干-开发分支"/>
    <add key="var-项目库" value="D:\TFS\10_5_10_96\Prod\ERP-V1.0\21_项目库\00_主干"/>
    <add key="var-MIP" value="D:\TFS\10_5_10_96\MIP2\源代码\Trunk"/>-->
    
	</appSettings>
	
</configuration>