<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

	<appSettings>
    <!--对应网站 SpecChecker.WebApplication1 的访问地址-->
    <add key="ServiceWebsite" value="http://localhost:55768/"/>
    <!--对应 SpecChecker.WebLib.Services.UploadService的UploadResult方法开头的验证代码-->
    <add key="authentication-key" value="2bb9c8ce-cb8d-460c-83eb-d110e8ab3aff"/>
    
  
    <!--请在部署时，确认并调整以下工具的实际路径-->
    <add key="tfs-client-path" value="%VS140COMNTOOLS%..\IDE\tf.exe"/>
    <add key="msbuild-path" value="C:\Program Files (x86)\MSBuild\14.0\Bin\MSBuild.exe"/>
    <add key="---NUnit-path" value="%NUnit%\nunit3-console.exe"/>
    <add key="dotCover-path" value="C:\Users\liqf01\AppData\Local\JetBrains\Installations\ReSharperPlatformVs14\dotCover.exe"/>
    
	</appSettings>
	
</configuration>